body {
text-align: center;
}

#ui listofti input {
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  width: 40%;
  padding: 12px 20px 12px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#tableCenter {
  margin-top: 100px;
}

#tableWrap {
  max-height: 70vh;
  overflow-y: scroll;
}

#myTable {
  margin-top: 40px;
  border-collapse: collapse;
  width: 58%;
  border: 1px solid #ddd;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#space {
  width: 200px;
}

#menu{
  background-color: #99cd32;
  z-index:98!important;
}

#logo{
  font-family: 'Pacifico', Sans-Serif;
  font-size: 40px;
  /*font-weight: bold;*/
  color:white;
}

#srchbar{
  margin-left: 40px;
}

#srch{
  width: 500px;
}

#listLink {
  width: 150px;
  text-align: center;
  font-size: 17px;
}

.Haram {
  color: red;
}