/*#status {
  color: rgba(0,0,0,0.85);
}*/

.leftview{
  float: left; 
  width: 240px;
}

.rightview{
  margin-left: 243px;
  width: 600px;
}

.tbldiv{
  height: 487px;
  overflow-y: scroll;
}

#circle {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      /*background: #FF4500;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

.lowermenu{
	margin-top: 75px;
	margin-left: 200px;
}

#commentbtn {
	background-color: #99cd32;
}

#space {
	width: 200px;
}

#menu{
	background-color: #99cd32;
}

#logo{
	font-family: 'Pacifico', Sans-Serif;
	font-size: 40px;
	/*font-weight: bold;*/
	color:white;
}

#srchbar{
	margin-left: 40px;
}

#srch{
	width: 500px;
}