/*#status {
  color: rgba(0,0,0,0.85);
}*/

.leftview{
  float: left; 
}

.rightview{
  margin-left: 300px;
  width: 600px;
}

.tbldiv{
  height: 461px;
  overflow-y: scroll;
}

#circle {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      /*background: #FF4500;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

.lowermenu{
	margin-left: 200px;
}

#commentbtn {
	background-color: #99cd32;
}