#sideBar {
	border-left: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);

	width: 200px;
	height: 100%;
	position: fixed;
	right: 0;
	display:block;
	background-color: white;
	z-index: 99!important;
}

#closeButton {
	background-color: #808080;
	position: absolute;
	opacity: 0.8;
	bottom: 0;
	border: none;
	width: 200px;
	height: 30px;
	font-size: 15px;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

#closeButton:hover {
	opacity: 1.0;
}
#sideBarTitleWrap {
	padding-bottom: 10px;
	border-bottom: 3px solid #cecece;
}
#sideBarTitle {
	text-align: center;
	vertical-align: center;
	margin: 10px 5px 5px 5px;
	padding: 10px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: bold;
	background-color: #99cd32;	
}

.sideBarItem {
	position: relative;
	background-color: #b8f416;
	margin: 10px;
	border-radius: 5%;
	border-style: solid;
	border-color: #65ae07;
	border-width: 5px;
	width: 180px;
	height: 0;
	padding-bottom: 170px;
	opacity: 0.7;
	overflow: hidden;

}

.sideBarItem:hover {
	opacity: 1.0;
}

.sideBarItemName {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	background-color: rgba(255,255,255,1);
/*	padding-bottom: 10px; */
	padding-left: 5px;
	font-size: 30px;
	color: #65ae07;
	line-height: 1.5;
	font-weight: bold;	
}

#main-container {
	position: relative;
	width: 100vw;
	height: 100vh;
}


#catMenu {
	width: 100%;
	height: 80%;
	display: block;
}

#catMenuTitle {
	width: 100%;
	height:30vh;
	text-align: center;
	vertical-align: center;
	line-height: 30vh;
	padding-top: 20px;
	margin:0;
	color: #65ae07;
}
#curCatWrap {
	width: 100%;
	height: 10vh;
	display: flex;
	text-align:center;
	justify-content: center;	
}
#curCategory {
	width: 200px;
	font-family: 'Pacifico', Sans-Serif;
	color:#65ae07;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	line-height: 100%;
}
#backButton {
	font-size: 30px;
	font-weight: bold;
	opacity: 0.7;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #808080;
	text-align: center;
	vertical-align: center;
	line-height: 40px;
	display: none;
}

#backButton:hover {
	opacity: 1.0;
}
#catMenuItemGrid {
	width: 100%!important;
	margin: 0 auto;
	height: 60vh;
	overflow-y: scroll;
}

.catElements {
	position: relative;
	background-color: #b8f416;
	border-radius: 5%;
	border-style: solid;
	border-color: #65ae07;
	border-width: 5px;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	opacity: 0.7;
	overflow: hidden;

}

.catElements:hover {
	opacity: 1.0;
}

.catName{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	background-color: rgba(255,255,255,1);
/*	padding-bottom: 10px; */
	padding-left: 5px;
	font-size: 30px;
	color: #65ae07;
	line-height: 1.5;
	font-weight: bold;
}

.Mark {
	position: absolute;
	text-align: center;
	vertical-align: center;
	line-height:80px;
	font-size: 40px;
	right: 10px;
	bottom: 10px;
	margin: 0;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	box-shadow: 1px 1px rgba(128,128,128,0.5);
}
.halalMark {
	background-color: #99cd32;
}

.haramMark {
	background-color: #ff5523;
}

.SuspMark {
	background-color: #ffe551;
}
#footing {
	width: 100vw;
	height: 10vh;
	text-align: center;
	background-color: #eee;
}

#space {
	width: 200px;
}

#menu{
	background-color: #99cd32;
	z-index:98!important;
}

#logo{
	font-family: 'Pacifico', Sans-Serif;
	font-size: 40px;
	/*font-weight: bold;*/
	color:white;
}

#srchbar{
	margin-left: 40px;
}

#srch{
	width: 500px;
}
